*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    overflow: hidden;
}
.time-container{
    background-color:#a3a3a3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-out{
    background-color: #fff;    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    border: 3px solid #e14177;
    width: 33%;
    height: 43vh;
    padding: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.time-out img{
    height: 120px;
    margin-right: 20px;
    margin-bottom: 10px;
}
h2{
    color: #0c0c0d;
}
.user-name{
    color: #e14177;
}
#grade{
    color: green;
}
@media screen and (max-width: 1440px) and (min-width: 992px) {
    .time-out{
        font-size: 20px;
        width: 60%;
        height: 43vh;
        padding: 20px;
        text-align: center;
    }

}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .time-out{
        font-size: 20px;
        width: 60%;
        height: 43vh;
        padding: 20px;
        text-align: center;
    }

}
@media screen and (max-width: 767px) {
    .time-out{
        font-size: 18px;
        width: 80%;
        height: 43vh;
        padding: 15px;
        text-align: center;
    }
}